{% extends 'base.html.twig' %}

{% block title %}OpenHours{% endblock %}

{% block body %}
    <h1>OpenHours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ open_hour.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ open_hour.day }}</td>
            </tr>
            <tr>
                <th>OpenTime</th>
                <td>{{ open_hour.openTime ? open_hour.openTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CloseTime</th>
                <td>{{ open_hour.closeTime ? open_hour.closeTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ open_hour.state ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_open_hours_index') }}">back to list</a>

    <a href="{{ path('app_open_hours_edit', {'id': open_hour.id}) }}">edit</a>

    {{ include('open_hours/_delete_form.html.twig') }}
{% endblock %}
