{% extends 'base.html.twig' %}

{% block title %}accueilGarageAuto{% endblock %}

{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        color: #333;
        background-color: white;
        margin: 0;
        padding: 20px;
    }

    h1, h2 {
        color: #ff6b01;
    }

    a {
        text-decoration: none;
        color: #333;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }


    .homeServices {
        margin: 5% 0;
        display: flex;
        justify-content: space-between;
    }

    .service {
        width: 30%;
    }

    .homeServices img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .homeServices h1, .homeServices p {
        text-align: center;
        font-size: 1.2em;
    }

    .homeCars {
        margin: 5% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .car {
        width: 30%;
    }

    .car a {
        display: block;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .car img {
        width: 100%;
    }

    .car h2, .car span {
        font-size: 1em;
    }

    .noticeForm {
        background-color: #f9f9f9;
        padding: 20px;
        margin: 20px 0;
        border: 1px solid #ddd;
    }

    .noticeForm label {
        display: block;
        margin-bottom: 10px;
        font-size: 1em;
    }

    .noticeForm input[type="text"],
    .noticeForm input[type="varchar(255)"],
    .noticeForm input[type="int"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .noticeForm input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #ff6b01;
        color: white;
        border: none;
        cursor: pointer;
    }

    .noticeForm input[type="submit"]:hover {
        background-color: #e65b00;
    }


    .homeNotices {
        padding: 20px;
        margin: 20px auto;
        max-width: 800px;
        background-color: #f1f1f1;
    }

    .homeNotices h1 {
        text-align: center;
        color: #ff6b01;
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .homeNotices h2, .homeNotices p {
        color: #333;
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    .HomeOpenHours {
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .HomeOpenHours h1 {
        color: #ff6b01;
    }

    .HomeOpenHours .openHour {
        font-size: 1em;
        margin-bottom: 5px;
    }
</style>

<div class="homeServices">
    {% for service in services %}
        <div class="service">
            <img src="{{ asset('images/'~service.photo~'') }}" alt="Image service {{ service.id }}"/>
            <h1>{{ service.title }}</h1>
            <p>{{ service.content }}</p>
        </div>
    {% endfor %}
</div>


<div class="homeCars">
    {% for car in cars %}
        <div class="car">
            <a href="/detail/{{car.id}}">
                <img src="{{ asset('images/'~car.getFirstPhoto()~'') }}" alt="Image véhicule {{ car.id }}"/>
                <h2>Prix:</h2>
                <span>{{ car.getPrice() }} €</span>
                <h2>Année de mise en circulation:</h2>
                <span>{{ car.getCirculationYear().format( 'Y' ) }}</span>
                <h2>Kilométrage:</h2>
                <span>{{ car.getMileage() }} km</span>
            </a>
        </div>
    {% endfor %}
</div>


<div class="noticeForm">
    <h1>Déposez un avis</h1>

    <form action="/createNotice" method="POST">

        <label for="name">Nom :</label>
        <input type="varchar(255)" id="name" name="name">

        <label for="comment">Commentaire :</label>
        <input type="text" id="comment" name="comment">

        <label for="note">Note (/10):</label>
        <input type="int" id="note" name="note">

        <input type="submit" value="Envoyer">
    </form>
</div>

<div class="homeNotices">
    <h1>Avis de nos clients</h1>
    {% for notice in notices %}
        <h2>{{ notice.getName() }}</h2>
        <p>{{ notice.getComment() }}</p>
        <h2>{{ notice.getNote() }}/10</h2>
    {% endfor %}
</div>



<div class="HomeOpenHours">
    <h1>Horaires d'ouvertures</h1>
    {% for openHour in openHours %}
        <div class="openHour">
            <span>{{ openHour.getDay() }} : </span>
            {% if openHour.getOpenTime() != null and openHour.getCloseTime() != null %}
                <span>{{ openHour.getOpenTime().format( 'H:i' ) }}</span>
                <span>-</span>
                <span>{{ openHour.getCloseTime().format( 'H:i' ) }}</span>
            {% endif %}
            {% if (openHour.isState() == false) %}
                <span>Fermé</span>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}