{% extends 'base.html.twig' %}

{% block title %}Hello DetailController!{% endblock %}

{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        color: #333;
        background-color: white;
        margin: 0;
        padding: 20px;
    }

    h1, h2 {
        color: #ff6b01;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 1.5em;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    span {
        display: block;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    img {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 8px;
        margin: 20px 19%;
    }

    .detail {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

    .detail img {
        margin-bottom: 20px;
        text-align: center;
    }

    .detail h1 {
        text-align: center;
    }

</style>

<div class="detail">
    {% for photo in photos %}
        <img src="{{ asset('images/'~photo.getName()~'') }}" alt="Image véhicule"/>
    {% endfor %}
    

    <h1>{{ car.getDescription() }}</h1>

    <h2>Prix:</h2>
    <span>{{ car.getPrice() }} €</span>

    <h2>Année de mise en circulation:</h2>
    <span>{{ car.getCirculationYear().format( 'Y' ) }}</span>

    <h2>Kilométrage:</h2>
    <span>{{ car.getMileage() }} km</span>

    <h2>Informations techniques:</h2>
    <span>{{ car.getTechnicalInfos() }}</span>

    <h2>Equipement:</h2>
    <span>{{ car.getEquipment() }}</span>

    <h2>Options:</h2>
    <span>{{ car.getOptions() }}</span>
</div>
{% endblock %}
